.site-header {
  /* See "grafica istituzionale" palette https://designers.italia.it/kit/grafica/ */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #001f3f;
  color: #fff;
  padding: 1.5rem 1.5rem;
  font-family: 'Almendra SC', serif;
}
.site-header nav a {
  color: #fff;
  margin-right: 1.2rem;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.3rem;
}
.site-header nav a:hover {
  text-decoration: underline;
}
.site-header .logo-title {
  display: flex;
  align-items: center;
}
.site-header h1 {
  font-size: 2rem;
  margin: 0;
  font-family: 'Imperial Script', cursive;
}
.small-logo {
  height: 90px;
  margin-right: 0.5rem;
}
.header-center {
  flex: 1;
  text-align: center;
}
.header-right {
  display: flex;
  align-items: center;
}
.site-header button {
  background: #001f3f;
  color: #fff;
  border: none;
  padding: 0.25rem 0.5rem;
  font-size: 1.3rem;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-family: 'Almendra SC', serif;
}

@media (max-width: 768px) {
  .site-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .site-header nav {
    width: 100%;
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .header-center {
    width: 100%;
    margin: 0.5rem 0;
    text-align: center;
  }
  .site-header nav a,
  .site-header button {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
  .site-header h1 {
    font-size: 1.5rem;
  }
  .small-logo {
    height: 50px;
  }
}

@media (max-width: 600px) {
  .site-header nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .site-header nav a,
  .site-header button {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 480px) {
  .site-header nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .site-header nav a,
  .site-header button {
    font-size: 1.1rem;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background: #001f3f;
  color: #fff;
  border: none;
  padding: 0.25rem 0.5rem;
  font-size: 1.3rem;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dropdown-content {
  position: absolute;
  right: 0;
  background: #001f3f;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  z-index: 10;
}
.dropdown-content a {
  color: #fff;
  padding: 0.5rem;
  text-decoration: none;
  font-weight: 600;
}
.dropdown-content a:hover {
  background: #003366;
}
