.site-header {
  /* See "grafica istituzionale" palette https://designers.italia.it/kit/grafica/ */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #A52019;
  color: #fff;
  padding: 1.5rem 1.5rem;
}
.site-header nav a {
  color: #fff;
  margin-right: 1rem;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
}
.site-header nav a:hover {
  text-decoration: underline;
}
.site-header .logo-title {
  display: flex;
  align-items: center;
}
.site-header h1 {
  font-size: 2rem;
  margin: 0;
}
.small-logo {
  height: 60px;
  margin-right: 0.5rem;
}
.site-header button {
  background: #A52019;
  color: #fff;
  border: 1px solid #000;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}
