.site-header {
  /* See "grafica istituzionale" palette https://designers.italia.it/kit/grafica/ */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0066cc;
  color: #fff;
  padding: 0.5rem 1rem;
}
.site-header a {
  color: #fff;
  margin-right: 1rem;
  text-decoration: none;
}
.site-header .logo-title {
  display: flex;
  align-items: center;
}
.small-logo {
  height: 40px;
  margin-right: 0.5rem;
}
.site-header button {
  background: #fff;
  color: #0066cc;
  border: none;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}
